
* {
  box-sizing: border-box;
}

p {
  margin: 5px 0;
}

a {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: serif;
  text-decoration: underline;
  text-underline-offset: 30px;
  text-decoration-color: #7D7C58;
  font-size: 3.3vw;
}

.stats {
  float: right;
  padding: 10px;
  background-color: #d3d3d3;
  width: 400;
  height: 460;
}

nav {
  float: left;
  width: 60%;
  padding: 40px;
  padding-right: 100px;
  height: 1200px;
}

article {
  float: left;
  padding: 100px;
  padding-bottom: 20px;
  width: 40%;
}

tr {
  height: 40px;
}

.filters {
  background-color: #e0cbb6;
  height: 50px;
}


header {
  background-color: #7D7C58;
  padding: 8px;
  text-align: right;
}

body {
  margin: 0;
  font-family: arial;
  background-color: #FFF7EF;
}

.index {
  background-image: url("lightbackground2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 10%;
}

.Rietbergen {
  /* NOTE:  background-color: Gray;*/
  text-shadow: 3px 3px 5px #27351C;
  color: black;
  padding-top: 120px;
  padding-bottom: 20px;
  height: auto;
  font-size: 80px;
  text-align: center;
  justify-content: center;
  align-items: flex-end;

  font-family: serif;
}

.replacegoogleform {
  display: none;
  text-align: center;
  background-color: Lightblue;
  color: black;

}
.googleform {
  display: block;
  margin: auto;
}

.mainmenu {
  background-color:#7D7C58;
  text-align: center;
}

.sbx-custom {
  width: 500px;
}

@media only screen and (max-width: 370px) {
    .homebtn {
      display: none;
    }
    header {
      text-align: center;
    }
}
@media only screen and (max-width: 640px) {
  .googleform {
    display: none;
  }
  .replacegoogleform {
    display: block;
  }
  .Rietbergen {
    font-size: 50px;
    height: auto;
  }
  .menu, .footer {
    width: 150px;
  }
  .mainmenu {
    background-color: transparent;
  }
  .sbx-custom {
    width: 200px;
  }

}

.menu, .footer {
	background-color:#FEF7E5;
	display:inline-block;
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
	padding: 24px 48px;
	text-shadow: 0px 0px 1px #886144;
  color: black;
  margin: 10px;
  text-align:  center;
}
.menu {
  box-shadow: 0px 1px 3px 0px #886144;
}

.menu:visited, .footer:visited{
  color: black;
}

.menu:hover, .footer:hover{
	background-color:#faf1d9;
}

.menu:active {
	position:relative;
	top:1px;
}

footer {
  /* NOTE:  background-color: lightGray;*/
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}

footer a{
  height: 24px;
  width: 20%;
  border: 2px solid #7D7C58;
  box-shadow: 0px 0px 5px 5px #7D7C58;
}

.homebtn {
  background-color: inherit;
  color: #FEF7E5;
  border: none;
  font-size: 24px;
  padding: 0;
  margin-left: 10px;
  float: left;
}

#homebtn, #homebtn:visited {
  color: #FEF7E5;
}

img {

}


.sbx-custom {
  display: inline-block;
  position: relative;
  height: 31px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
}

.sbx-custom__wrapper {
  width: 100%;
  height: 100%;
}

.sbx-custom__input {
  display: inline-block;
  -webkit-transition: box-shadow .4s ease, background .4s ease;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-radius: 0px;
  box-shadow: inset 0 0 0 2px #FEF7E5;
  background: #7D7C58;
  padding: 0;
  padding-right: 78px;
  padding-left: 22px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-style: italic;
}

.sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
  display: none;
}

.sbx-custom__input:hover {
  box-shadow: inset 0 0 0 2px #faf1d9;
}

.sbx-custom__input:focus, .sbx-custom__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 2px #FEF7E5;
  background: white;
}

.sbx-custom__input::-webkit-input-placeholder {
  color: #FEF7E5;
}

.sbx-custom__input::-moz-placeholder {
  color: #FEF7E5;
}

.sbx-custom__input:-ms-input-placeholder {
  color: #FEF7E5;
}

.sbx-custom__input::placeholder {
  color: #FEF7E5;
}

.sbx-custom__submit {
  position: absolute;
  top: 0;
  right: 0;
  left: inherit;
  margin: 0;
  border: 0;
  border-radius: 0 25px 25px 0;
  background-color: rgba(255, 239, 229, 0);
  padding: 0;
  width: 51px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sbx-custom__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.sbx-custom__submit:hover, .sbx-custom__submit:active {
  cursor: pointer;
}

.sbx-custom__submit:focus {
  outline: 0;
}

.sbx-custom__submit svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: #FEF7E5;
}

.sbx-custom__reset {
  display: none;
  position: absolute;
  top: 12px;
  right: 51px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}

.sbx-custom__reset:focus {
  outline: 0;
}

.sbx-custom__reset svg {
  display: block;
  width: 19px;
  height: 19px;
}

.sbx-custom__input:valid ~ .sbx-custom__reset {
  display: block;
  -webkit-animation-name: sbx-reset-in;
          animation-name: sbx-reset-in;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
}

@-webkit-keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}
