
p { margin: 5px 0;}

a {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.stats {
  float: right;
  padding: 10px;
  background-color: #d3d3d3;
  width: 400;
  height: 460;
}

header {
  background-color: #FFEFE5;
  padding: 30px;
  text-align: right;
}

body {
  margin: 0;
  font-family:Arial;
}

.Rietbergen {
  /* NOTE:  background-color: Gray;*/
  padding: 10px;
  text-align: center;
  font-size: 100px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.mainmenu {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {

  }
  .Rietbergen {
    font-size: 50px;
    height: 100px
  }
  .menu, .footer {
    width: 150px;

  }
}

.menu, .footer {
	background-color:#FFEFE5;
	display:inline-block;
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
	padding: 24px 48px;
	text-shadow:0px -1px 0px #ffffff;
  color: black;
  margin: 10px;
  text-align:  center;
}
.menu {
  box-shadow: 0px 1px 3px 0px #91b8b3;
}

.menu:visited, .footer:visited{
  color:#000000;
}

.menu:hover, .footer:hover{
	background-color:#fae0cf;
}

.menu:active {
	position:relative;
	top:1px;
}

footer {
  /* NOTE:  background-color: lightGray;*/
  padding: 10px;
  text-align: center;
  font-size: 100px
}

footer a{
  height: 24px;
  width: 20%;
  border: 2px solid #853718;
  box-shadow: 0px 0px 5px 5px #ffefe5;
}

.homebtn {
  background-color: #ffefe5;
  border: none;
  color: #853718;
  font-size: 48px;
  cursor: pointer;
  float: left;
}

#homebtn:visited, #homebtn {
  color: #853718;
}




.sbx-custom {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 51px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
}

.sbx-custom__wrapper {
  width: 100%;
  height: 100%;
}

.sbx-custom__input {
  display: inline-block;
  -webkit-transition: box-shadow .4s ease, background .4s ease;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-radius: 26px;
  box-shadow: inset 0 0 0 2px #853718;
  background: #FFEFE5;
  padding: 0;
  padding-right: 78px;
  padding-left: 22px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
  display: none;
}

.sbx-custom__input:hover {
  box-shadow: inset 0 0 0 2px #5a2510;
}

.sbx-custom__input:focus, .sbx-custom__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 2px #853718;
  background: white;
}

.sbx-custom__input::-webkit-input-placeholder {
  color: #853718;
}

.sbx-custom__input::-moz-placeholder {
  color: #853718;
}

.sbx-custom__input:-ms-input-placeholder {
  color: #853718;
}

.sbx-custom__input::placeholder {
  color: #853718;
}

.sbx-custom__submit {
  position: absolute;
  top: 0;
  right: 0;
  left: inherit;
  margin: 0;
  border: 0;
  border-radius: 0 25px 25px 0;
  background-color: rgba(255, 239, 229, 0);
  padding: 0;
  width: 51px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sbx-custom__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.sbx-custom__submit:hover, .sbx-custom__submit:active {
  cursor: pointer;
}

.sbx-custom__submit:focus {
  outline: 0;
}

.sbx-custom__submit svg {
  width: 31px;
  height: 31px;
  vertical-align: middle;
  fill: #853718;
}

.sbx-custom__reset {
  display: none;
  position: absolute;
  top: 12px;
  right: 51px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}

.sbx-custom__reset:focus {
  outline: 0;
}

.sbx-custom__reset svg {
  display: block;
  margin: 4px;
  width: 19px;
  height: 19px;
}

.sbx-custom__input:valid ~ .sbx-custom__reset {
  display: block;
  -webkit-animation-name: sbx-reset-in;
          animation-name: sbx-reset-in;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
}

@-webkit-keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}
